:root {
  --font-family: "ff-scala-sans-pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --secondary-font-family: "rubik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --text-color: #1c1c1c;
  --background-color: #f2f2f2;
  /* Step -2: 13.89px → 15.36px */
  --font-size--2: clamp(0.8681rem, 0.8452rem + 0.1148vw, 0.96rem);

  /* Step -1: 16.67px → 19.20px */
  --font-size--1: clamp(1.0419rem, 1.0023rem + 0.1977vw, 1.2rem);

  /* Step 0: 20.00px → 24.00px */
  --font-size-0: clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5rem);

  /* Step 1: 24.00px → 30.00px */
  --font-size-1: clamp(1.5rem, 1.4063rem + 0.4688vw, 1.875rem);

  /* Step 2: 28.80px → 37.50px */
  --font-size-2: clamp(1.8rem, 1.6641rem + 0.6797vw, 2.3438rem);

  /* Step 3: 34.56px → 46.88px */
  --font-size-3: clamp(2.16rem, 1.9675rem + 0.9625vw, 2.93rem);

  /* Step 4: 41.47px → 58.59px */
  --font-size-4: clamp(2.5919rem, 2.3244rem + 1.3375vw, 3.6619rem);

  /* Step 5: 49.77px → 73.24px */
  --font-size-5: clamp(3.1106rem, 2.7439rem + 1.8336vw, 4.5775rem);
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {

}
body {
  font-size: var(--font-size-0); /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--text-color); 
  margin: 0;
  background-color: var(--background-color);
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: var(--font-size-5); line-height: 1.4em;  letter-spacing: 0rem;}
h2 { font-size: var(--font-size-4); line-height: 1.4em; letter-spacing: 0rem; }
h3 { font-size: var(--font-size-3); line-height: 1.4em;  letter-spacing: 0rem; }
h4 { font-size: var(--font-size-2); line-height: 1.4em; letter-spacing: 0rem; }
h5 { font-size: var(--font-size-1); line-height: 1.4em;  letter-spacing: 0rem; }

.margin-left-25 {
  margin-left: max(min(25%, calc((100vw - 550px) * 0.25)), 0);
}

.margin-right-25 {
  margin-right: max(min(25%, calc((100vw - 550px) * 0.25)), 0);
}

.center {
  width: 100%;
  text-align: center;
}


b {
  font-weight: 600;
}

p {
  text-wrap: pretty;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--text-color); }
a:hover {
  color: var(--text-color);
  text-decoration: underline;
}


/**
* Container
*/
.content-grid {
  --padding-inline: 1.5rem;
  --narrow-content-inline: 0.0rem;
  --content-max-width: 800px;
  --breakout-max-width: 1600px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] var(--narrow-content-inline)
    [narrow-content-start] min(
      100% - (var(--padding-inline) * 2) - (var(--narrow-content-inline) * 2),
      var(--content-max-width)
    )
    [narrow-content-end]
    var(--narrow-content-inline) [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.full-width { 
  grid-column: full-width;
}
.breakout { 
  grid-column: breakout;
}
.content { 
  grid-column: breakout;
}
.narrow-content { 
  grid-column: narrow-content;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .content-grid {
    --padding-inline: 2rem;
    --narrow-content-inline: calc(var(--padding-inline) * 2);
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .content-grid {
    --padding-inline: 3rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .content-grid {
    --padding-inline: 4rem;
  }
}

  /* Larger than Desktop HD */
@media (min-width: 1200px) {
  .content-grid {
    --padding-inline: 5rem;
  }
}


/*
.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}*/


/**
* Grid
* Minimal grid system with auto-layout columns
*/
.grid {
  grid-column-gap: var(--grid-spacing-horizontal, 1.6rem);
  grid-row-gap: var(--grid-spacing-vertical, 1.6rem);
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}
.grid > * {
  min-width: 0;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
